body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul{
  padding:0;
  list-style: none;
}

a{
  text-decoration: underline;
}
a:hover{
  text-decoration: none;
}

.note{
  margin-top:20px;
  font-size:12px;
}

label{
  display: inline-block; min-width: 150px;
}
input {
  border: 1px solid #ccc;
  padding:8px 5px;
  min-width: 200px;
}

input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

.formGroup{margin-bottom: 10px;}